
// MOBILE VERSION

.user_listing-mobile-container{
  height: 600px;
  padding: 15px 10px;
}

.mobile-my-listing-title {
  h1 {
    align-items: center;
    margin: 10px 0px;
    font-family: 'Heebo', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    margin-right: 8px;
  }
}

.add-item-btn{
  border-radius: 15px;
  background: #616675;
  color: white !important;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;
  margin-right: 20px;
}

.mobile-user-listing-flex-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
}

.items-and-calendar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.mobile-my-listing-card-image {
  height: 80px;
  min-width: 90px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 2px;
}

.mobile-user-listings-card{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 8px;
  padding: 10px 5px 10px 5px;
  transition: .3s;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  border-radius: 4px;
  width: 150px;
  height: 190px;
}

.mobile-card-description {
  display: flex;
  flex-direction: column;
}

.mobile-user-listing-deletedit-btn{
  margin: 10px 0px;
  background-color: #eeeeee;
  text-align: center;
  font-size: 9px;
  color: white;
  padding: 5px;
  border-radius: 8px;
  opacity: 1.0 !important;
}


// ###################################################

.items-div {
  display: flex;
  align-items: center;
  position: relative;
}

.item-counter {
  background: #2F3030;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  position: absolute;
  top: -1;
  margin: 5px 5px;
}

.plus-icon{
  font-size: 12px;
}

.plus-icon:hover{
  color: #fd9ab9;
  opacity: 0.6;
}

.photo-service-link:hover{
 text-decoration: none;
 color: #fd9ab9;
}

.add-item {
  margin: 20px 0px;
  padding: 10px 10px;
  align-items: center;
  background-color: #fd9ab9;
  border-radius: 3px;
  text-decoration: none;
}

.fa-plus-circle {
  color: black;
  font-size: 200%;
  margin: 10px;
}

.my-listing-title {
  margin-top: 20px;
  h1 {
    align-items: center;
    margin: 10px 0px;
    font-family: 'Heebo', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    margin-right: 8px;
  }
}

.add-item:hover {
  background-color: #f86a96;
  text-decoration: none;
  color: white;
}


.items-and-calendar {
  display: flex;
  justify-content: space-between;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row-show {
 flex: 1 0 auto;
}

.calendar-my-listing {
  justify-content: space-around;
  width: 400px;
  height: 400px;
  padding: 0px 0px;
  margin-top: -18px;
}


.my-listing-cards-container {
  display: flex;
}


.listing-status {
  display: flex;
  vertical-align: middle;
  p {
    font-size: 10px;
    margin: 0px 0px;
    margin-left: 10px;
  }
  a {
    font-size: 12px;
  }
}

.item-status {
  margin: 2px 2px;
}

.listing-status-items {
  margin: 2px 0px;
}

.calendar-div {
  margin: 0px 5px;
}

#calendar {
  margin-right: 0px;
}

.mw {
  flex: 0 0 23%;
  position: relative;
}

.my-listing-card-image {
  height: 200px;
  min-width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 2px;
}

.js-click {
  font-size: 11px;
  color: black;
  z-index: 5; position:relative;
  margin: 3px 0px;
}

.js-click:hover {
  color: #fd9ab9;
}

.rent-price {
  color: black;
  font-weight: bold;
  position: absolute;
  bottom: 28px;
}

.buy-price {
  color: grey;
  position: absolute;
  left: 70px;
  bottom: 28px;
}

.pages-add-icon a{
  position: absolute;
  bottom: 22px;
  color: #fd9ab9;
}
