.page-header-h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

.icon-comments{
	font-size: 11px;
	color: #dddddd;
}

.icon-text{
	font-size: 12px;
}

.icon-stars{
	font-size: 11px;
	color: #ffe74c;
}

.icon-empty-stars{
	font-size: 11px;
	color: #dddddd;
}

.icon-empty-stars:hover{
	color: #dddddd;
}

.icon-stars-small{
	font-size: 8px;
	color: #ffe74c;
}

.ig-icon{
	margin-right: 5px;
	font-size: 13px;
	color: black;
}

.home-page-stars{
	margin-bottom: 5px;
}
