@media (max-width: 415px){

  .duration-margin.messages-titles-h3{
    font-size: 10px;
  } 

  .owner-margin h3{
    font-size: 11px;
  }
  
  .messages-duration-box h4{
    font-size: 9px;
  }

  .total-price-margin.messages-titles-h3{
    font-size: 10px;
  }

  .messsages-total-price-box h4{
    font-size: 9px;
  }

  .status-margin.messages-titles-h3 {
    font-size: 10px;
  }

  .new_message{
    margin-top: 5px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .speech-bubble {
    position: relative;
    text-align: left;
    min-height: 50px;
    display: flex;
    justify-content:space-around;
    margin-bottom: 15px;
    margin-right: 40px;
    p {
      background: rgba(238, 238, 238, 1.5);
      box-shadow: 1px 1px 1px #e2e2e2;
      font-size: 9px;
      width: 90%;
      padding: 15px 15px;
      color: #616675;
    }
    h3 {
      margin: 0;
    }
  }


  .speech-bubble-r {
    position: relative;
    text-align: left;
    min-height: 50px;
    display: flex;
    justify-content:space-around;
    margin-bottom: 15px;
    margin-left: 40px;
      p {
        background: white;
        width: 90%;
        padding: 15px 15px;
        font-size: 9px;
        color: grey;
      box-shadow: 1px 1px 1px #e2e2e2;
    }
      h3 {
      margin: 0;
    }
  }  
}

// #############################################

.new_message{
  margin-top: 5px;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages-box{
  height: 50px;
  width: 90%;
}

.messages-card-image {
  height: 200px;
  min-width: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 2px;
}

.messages-input-btn-ontop{
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  color: black;
  height: 40px;
  width: 95px;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2px;
  opacity: 0.8;
  border-line: solid;
  border-color: black;
}

.messages-input-btn-ontop:hover {
  border-radius: 3px;
  background-color: #FD9AB9;
  color: black;
  height: 40px;
  width: 95px;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2px;
  opacity: 0.8;
  border-line: solid;
  border-color: black;
}


.request-msg-container {
 	min-height: 400px;
  margin: 20px 0px;
}

.new-convo-link {
	height: 80px;
	width: 200px;
	color: gray;
	font-size: 14px;
	size: 4px;
}

.new-convo-link:hover{
	color: red;
	opacity: 0.5 !important;
	text-decoration: none;
}

.message-link{
	color: red !important;
}


.message-image {
	height: 40vh;
	width: 60vh;
	border-radius: 4px;
	opacity: 0.8;
	margin-top: 10px;
	margin-left: 80px;
}

.messages-cards-h3 {
  font-size: 20px;
  font-weight: normal;
  font-family: 'Heebo', sans-serif;
  letter-spacing: 1px;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 5px;
}

.messages {
  font-family: 'Heebo', sans-serif;
  padding: 20px;
  h2 {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  }
}

.request-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60%;
  margin: 10px 10px 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: #f2f2f2;
  border-width: 1px;
  padding-bottom: 15px;
}

.booking-details {
  width: 40%;
  margin: 0px 10px;
}

.banner-messages-title{
  font-weight: normal;
  margin-bottom: 2px;
  position: absolute;
  left: 250px;
  bottom: 330px;
  color: #dddddd;
  font-weight: lighter;
}

.request-avatar {
  width: 10%;
  display: flex;
  position: relative;
  align-items: center;
  h3 {
    margin-right: 15px;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 2px;
    font-weight: normal;
  }
  img {
    margin-right: 10px;
  }
}

.avatar-request-message {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.messages-cards {
  background-color: white;
}

.request-photo {
  width: 20%;
  margin: 0px 80px;
}


.speech-bubble {
  position: relative;
  text-align: left;
  min-height: 40px;
  display: flex;
  justify-content:space-around;
  margin-bottom: 15px;
  margin-right: 40px;
    font-size: 14px;
  p {
    background: rgba(238, 238, 238, 1.5);
    box-shadow: 1px 1px 1px #e2e2e2;
    width: 90%;
    padding: 15px 15px;
    color: #616675;
    border-radius: 8px;
  }
  h3 {
    margin: 0;
  }
}


.speech-bubble-r {
  position: relative;
  text-align: left;
  min-height: 100px;
  display: flex;
  justify-content:space-around;
  margin-bottom: 15px;
  margin-left: 40px;
  font-size: 14px;
    p {
      background: white;
      width: 90%;
      padding: 15px 15px;
      color: grey;
      border-radius: 8px;
    box-shadow: 1px 1px 1px #e2e2e2;
  }
    h3 {
    margin: 0;
  }
}

#message-bubble {
  max-height: 400px;
  overflow-y: scroll;
}

.avatar-message {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 6px;
}

.msg-container {
  margin: 40px 0px;
}

.avatar-message-div {
  margin: 0 50px;
}

.message-content {
    width: 80%;
    margin-left: 7%;
    font-size: 12px;
    border: 1px solid #EDEFEA ;
    box-shadow: 1px 1px 1px #d6d5d5;
    min-height: 40px;
    font-style: italic;
    padding-left: 20px;
    color: grey;
    font-weight: lighter;
    margin: 5px 5px 5px;
    &:focus{
      outline: none;
    }
}

.duration-margin {
  margin-top: 10px;
  font-size: 12px;
}

.duratio-margin p{
  font-size: 12px;
}

.messages-info-label {
  width: 50px;
}

.banner-messages {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  position: relative;
}

.accept-decline-btn-div {
  display: flex;
  margin-top: 20px;
  font-family: 'Heebo', sans-serif;
}

.owner-margin {
  margin-right: 16px;
  margin-top: 15px;
}

.duration-margin {
  margin-right: 16px;
}

.total-price-margin {
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.messages-titles-h3 {
  font-family: 'Heebo', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 2px;
}

.status-margin {
  margin-right: 28px;
  margin-top: 10px;
  width: 50px;
}

.user-profile-link {
  text-decoration: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.user-profile-link:hover {
  text-decoration: none;
  color: #FB9BB9;
}

.reference-position {
  position: relative;
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}

.messages-avatar-picture{
  position: absolute;
  left: 300px;
  bottom: 55px;
  opacity: 0.8;
}

.messages-avatar-picture-two{
  position: absolute;
  left: 330px;
  bottom: 55px;
  opacity: 0.8;
}

.messages-avatar-picture-three{
  position: absolute;
  left: 380px;
  bottom: 55px;
  opacity: 0.8;
  color: #DCDCDC;
  font-weight: lighter;
}

.messages-duration-box{
  display: flex;
} h4{
  font-size: 11px;
  font-weight: lighter;
  font-family: 'Heebo', sans-serif;
  align-items: center;
}

.messages-total-price-box{
  display: flex;
  align-items: center;
} h4{
  font-size: 11px;
  font-weight: lighter;
  font-family: 'Heebo', sans-serif;
  align-items: center;
}

.messages-status-box{
  display: flex;
}
